/* body {
  padding: 0px 20px 20px 20px;
} */

body,
html {
  margin: 0px;
  height: 100%;
}

html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: Georgia, Times, "Times New Roman", serif;
}

.flex-menu {
  display: flex;
  justify-content: space-between;
}

.pure-menu-link {
  font-size: 25px;
}

.homepage-nav {
  height: 200px;
}

.intro {
  padding-right: 10px;
  font-size: 30px;
}

.cat-gif-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.worm {
  background-color: cadetblue;
  margin: 20px;
  border-radius: 25px;
}

.worm-content {
  display: flex;
}

.worm-header {
  text-align: center;
  font-size: 50px;
}

h1 {
  margin: 0;
}
#worm-link {
  font-size: 25px;
}

.worm-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.worm-text {
  font-size: 40px;
  width: 400px;
}

.worm-text-right {
  padding-left: 40px;
}

.discover-pics {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.demo-vid {
  width: 600px;
}

.demo-vid-container {
  display: flex;
  justify-content: center;
}

.demo-text {
  text-align: center;
}
