@media screen and (min-width: 600px) {
  body,
  html {
    height: 100%;
  }

  .homepage-nav {
    height: 200px;
  }
}

@media screen and (max-width: 600px) {
  #menu {
    display: none;
  }

  .homepage-nav {
    height: 100px;
  }
}

body {
  margin: 0;
}

html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: Georgia, Times, "Times New Roman", serif;
}

.flex-menu {
  display: flex;
  justify-content: space-between;
}

.pure-menu-link {
  font-size: 25px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  gap: 20px;
}

.intro {
  font-size: 30px;
  width: 400px;
}

.cat-gif-container {
  order: 1;
}

/* .cat-gif-container {
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* code for image fade from https://blog.hubspot.com/website/css-fade-in#image-transition */

#fade-in-image {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h2 {
  text-align: center;
  font-size: 50px;
}
.outer {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.projects {
  display: flex;
  flex-flow: row wrap;
  flex: 1 100%;
  justify-content: center;
  gap: 20px;
}

.project-description {
  max-width: 420px;
  text-align: center;
  font-size: 20px;
}

.projects-section {
  padding-left: 20px;
  padding-right: 20px;
}

.project-title {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

.project-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#worm-button {
  background: #79b700;
}

#trello-button {
  background: #fa8181;
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.about-text {
  width: 400px;
  font-size: 20px;
}

.contact-section {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-top: 100px;
  padding-bottom: 50px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #e6ee9c;
}

/* worm page */

.worm-header {
  text-align: center;
  font-size: 50px;
}

h1 {
  margin: 0;
}
#worm-link {
  font-size: 20px;
}

.worm-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  margin: 40px;
}

.worm-text {
  font-size: 40px;
  width: 400px;
}

.worm-text-right {
  padding-left: 40px;
}

.discover-pics {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.demo-vid {
  width: 600px;
}

.demo-vid-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

#time-text {
  text-align: center;
}

.discover-place {
  padding-left: 5px;
}

.vid-description {
  width: 600px;
  font-size: 20px;
}
