body {
  margin: 0;
}

html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: Georgia, Times, "Times New Roman", serif;
}

.arial {
  font-family: Arial, Helvetica, sans-serif;
}
.flex-menu {
  display: flex;
  justify-content: space-between;
}

.pure-menu-link {
  font-size: 20px;
  color: black;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  gap: 20px;
}

.cat-gif {
  min-width: 280px;
  min-height: 280px;
}
.intro {
  font-size: 30px;
  width: 400px;
}

/* .cat-gif-container {
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* code for image fade from https://blog.hubspot.com/website/css-fade-in#image-transition */

#fade-in-image {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h2 {
  text-align: center;
  font-size: 50px;
}
.outer {
  height: 100%;
}

.projects {
  display: flex;
  flex-flow: row wrap;
  flex: 1 100%;
  justify-content: center;
  gap: 20px;
}

.project-description {
  max-width: 420px;
  text-align: center;
  font-size: 20px;
}

.projects-section {
  padding-left: 20px;
  padding-right: 20px;
}

.project-title {
  font-size: 25px;
  font-weight: bold;
  padding: 10px 10px 20px 10px;
}

.project-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#worm-button {
  background: #79b700;
}

#trello-button {
  background: #fa8181;
}

.about-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.profpic {
  max-height: 400px;
}
.about-text {
  max-width: 400px;
  font-size: 20px;
}

.contact-section {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-top: 100px;
  padding-bottom: 50px;
}

.contact-logo {
  max-width: 128px;
  max-height: 128px;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #e6ee9c;
}

/* worm page */

.worm-header,
.trello-header,
.covid-header {
  text-align: center;
  font-size: 50px;
  padding-top: 40px;
}

h1 {
  margin: 0;
}
#worm-link {
  font-size: 20px;
}

.trello-title {
  font-size: 5rem;
}

.worm-logo {
  max-width: 320px;
}

.worm-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.worm-grid,
.demo-vid-container,
.trello-grid,
.covid-grid {
  padding: 20px;
  margin: 40px 150px;
  border: 3px solid #333333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  position: relative;
}

/* fun sketchy border by Andy Bell https://codepen.io/piccalilli/pen/MPLzay */

.worm-grid::before,
.demo-vid-container::before,
.trello-grid::before,
.covid-grid::before {
  content: "";
  border: 2px solid #353535;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
  border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
}

.worm-text {
  font-size: 3rem;
  max-width: 400px;
  padding: 20px;
}

.worm-text-right {
  padding-left: 40px;
}

.discover-pics {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* .demo-vid {
  width: 600px;
} */

.demo-vid-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

#time-text {
  text-align: center;
}

.discover-place {
  padding-left: 5px;
}

.vid-description {
  max-width: 600px;
  font-size: 20px;
  line-height: 25px;
}

/* trello(ish) styling */

#trello-authors,
#covid-authors {
  font-size: 20px;
  margin: 0px;
}

/* .trello-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
} */

.trello-description {
  font-weight: normal;
  width: 600px;
  text-align: justify;
}
.covid-description {
  font-weight: normal;
  width: 600px;
  text-align: center;
}

.pic-description {
  font-size: 30px;
  margin-top: 10;
  max-width: 800px;
  text-align: center;
}

.trello-grid,
.covid-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.trello-description-container,
.covid-description-container {
  display: flex;
  justify-content: center;
}

.trello-pic,
.covid-pic {
  max-width: 800px;
}

/* media queries */

@media screen and (min-width: 481px) {
  body,
  html {
    height: 100%;
  }

  .homepage-nav {
    height: 200px;
  }

  .demo-vid {
    width: 600px;
  }
}

@media screen and (max-width: 480px) {
  .flex-menu {
    flex-direction: column;
    align-items: center;
  }

  /* .my-name {
    text-align: center;
  } */

  #menu {
    font-size: 15px;
  }

  .homepage-nav {
    height: 90px;
  }

  .project-pic {
    width: 300px;
    height: 175px;
  }

  #worm-pics {
    width: 300px;
  }

  #worm-right {
    order: 1;
  }

  .worm-left {
    order: 2;
  }

  .worm-left-3 {
    order: 3;
  }

  .contact-logo {
    width: 64px;
    height: 64px;
  }

  .profpic {
    height: 300px;
  }

  .intro {
    order: 2;
    padding: 20px;
  }

  .cat-gif-container {
    order: 1;
  }

  .contact-section {
    padding-top: 10px;
  }

  .footer {
    font-size: 12px;
  }

  .demo-vid {
    width: 300px;
    padding-top: 40px;
  }

  .worm-title {
    font-size: 45px;
  }

  .worm-header,
  .trello-header,
  .covid-header {
    padding: 20px 0px 0px 0px;
  }
  .worm-text {
    padding: 40px 5px 30px 5px;
    font-size: 30px;
    text-align: center;
  }

  .vid-description {
    font-size: 15px;
    padding: 0px 10px 0px 10px;
    line-height: 20px;
    text-align: center;
  }

  #worm-button {
    margin-top: 10px;
    font-size: 15px;
  }

  .trello-pic,
  .covid-pic {
    width: 300px;
    padding-top: 40px;
  }

  .trello-title {
    font-size: 50px;
  }

  .covid-title {
    font-size: 30px;
    padding-bottom: 5px;
  }

  .covid-description {
    font-size: 17px;
  }

  .trello-description {
    padding: 0px 20px 20px 20px;
    text-align: center;
  }

  .pic-description {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  #trello-authors,
  #covid-authors {
    font-size: 3vw;
  }

  .intro {
    font-size: 20px;
  }

  .page-break {
    width: 50px;
    border: 1px solid black;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1024px) {
  .worm-grid,
  .demo-vid-container,
  .trello-grid,
  .covid-grid {
    border: none;
    margin: 0px;
    padding: 0px 0px 30px 0px;
  }

  .worm-grid::before,
  .demo-vid-container::before,
  .trello-grid::before,
  .covid-grid::before {
    border: none;
    display: none;
  }
}
